@use '~bootstrap/scss/bootstrap.scss';

// General style overrides and custom classes
body {
    font-family: Avenir, Helvetica, Arial, sans-serif, 'Cinzel', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-bottom: 50px;
    background-color: #f5f1ea;
    position: relative;
    overflow-y: scroll; 
}

main{
  margin-top: 60px;
}
/* ----- Intro -----  */

.intro {
  background: #2c3e50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.slider {
  background: #f5f1ea;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateY(100vh);
  z-index: 10;
}

.intro-text {
  color: #f5f1ea;
  font-size: 3rem;
}

.hide {
  background: #2c3e50;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

/* ----- Bottom Navbar -----  */
.navbar {
  background-color: #f5f1ea;
}

.fixed-bottom {
  z-index: 5;
}

.navbar-brand {
  margin-right: 5px;
  font-size: x-large;
  color: #2c3e50 !important;
}

.navbar-text {
  
  margin: 5px 0px 0px 5px;
  color: #2c3e50 !important;
}

.nav-item {
  margin-top: 6px;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #2c3e50 !important;
}

.navbar-light  .navbar-toggler {
  border-color: transparent; /* Removes border color */
  // float: left; /* Move navbar toggle to left */
}

.navbar-light  .navbar-toggler-icon:hover {
  background-color: #faf4ef; /* Changes toggle color on hover */
}

/* -----  all btn style ----- */

.btn-secondary {
  color: white;
  background-color: #4a647e;
  border: 2px solid white;
  border-radius: 0px;
  font-weight: 500;
}

.btn-secondary:hover {
  color: #4a647e;
  background-color: #f5f1ea;
  border: 2px solid #4a647e;
}


/* ----- Header -----  */

header {
  height: auto;
}

.header-info {
  font-size: medium;
  text-transform: uppercase; 
}

.header-info svg {
  margin-bottom: 6px;
}

header h1 {
  font-family: 'Cinzel', serif;
  position: relative;
  padding-top: 50px;
  font-size: 90px;
  width: 100%;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 1;  
}

header h2 {
  position: relative;
  font-size: 40px;
  width: 100%;
  font-weight: 200;
  z-index: 2;  
}

.portrait {
  width: 409px;
  height: 614px; 
}

.container-portrait{
  position: relative;
  margin-top: -124px;
  overflow: hidden;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
  width: 409px;
  height: 614px;
  
}

/* ----- Section A propos -----  */

.section-a-propos {
  height: auto;
  padding: 40px 20px;
  margin-top: 100px;
  margin-bottom: 190px;
}

.a-propos {
  opacity: 0;
  font-size: 24px;
  font-weight: 400;
}

.a-propos p {
  width: 100%;
  margin: auto;
}

.a-propos::before{
  content: "";
  position: absolute;
  margin-top: -40px;
  right: 37%;
  width: 25%;
  height: 2px;
  background: #2c3e50;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.a-propos::after{
  content: "";
  position: absolute;
  margin-top: 43px;
  right: 37%;
  width: 25%;
  height: 2px;
  background: #2c3e50;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}




.a-propos:hover::before, .a-propos:hover::after {
  transform: scaleX(1);
}



/* ----- Section Formation -----  */

.section-formation {
  height: auto;
  padding: 90px 0px;
  padding-top: 90px;
  margin-top: 40px;
  color: #f5f1ea;
  background-color: rgba(245, 241, 234, 1);
}
.separationLineFormation {
  width: 8%;
  border: 1px solid #f5f1ea;
}
.section-formation h3 {
  font-family: 'Cinzel', serif;
  font-size: 47px;
}

.sousTitreFormation {
  width: 80%;
  margin: auto;
  font-size: 19px;
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 10px;
}

.diplomeFormation {
  font-weight: 500;
}

.langageFormation {
  margin-bottom: 0;
  margin-bottom: 12px;
  font-size: 16px;
}

.card {
  color: #2c3e50;
}

.card-header {
  background-color: #f5f1ea;
  font-size: 20px;
  text-transform: uppercase;
}

.card-block {
  background-color: #f5f1ea;
}

.project-icon {
  height: 30px;
}
.project-icon svg, .project-icon img {
  width: 80px;
  height: 80px;
  padding: 12px;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: -50px;
  margin-bottom: 1em;
  object-fit: cover;
  border: 4px solid white;
  background: #f5f1ea;
}

a .gitHubIconFormation {
  font-size: 80px;
  padding-top: 15px;
  color:  rgb(44, 62, 80);
}

a .gitHubIconFormation:hover {
  font-size: 80px;
  padding-top: 15px;
  color: #445769;
}

.gitHubLink {
  color: #2c3e50;
  font-weight: 200;
}

.gitHubLink:hover {
  color: #1d2833;
  font-weight: 300;
  text-decoration: none;
}

// MODAL PROJETS FORMATION 
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 62, 80, 0.9);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 80vw;
  height: auto;
  margin: auto;
  background-color:  #fcf9f5;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header {
  padding: 10px;
}

.modal-header h4 {
  margin-bottom: 0px;
  padding: 10px;
  text-transform: uppercase;
}

.modal-body {
  margin: 12px 40px;
  padding: 10px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.modal-body h4 {
  margin-bottom: 5px;
}

.modal-footer {
  justify-content: center;
}

/*
 * Transition Modal Style
 */

 //Open Modal
 .openModal-enter-active, .openModal-leave-active {
  transition: opacity .5s;
}
.openModal-enter, .openModal-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


/* ------- Section Projets Web -----  */

.section-projets-web {
  padding-top: 110px;
  padding-bottom: 90px;
  background-color: rgba(44, 62, 80, 1);
  height: auto;
}

.titreProjetsWeb {
  font-family: 'Cinzel', serif;
  font-size: 47px;
}

.separationProjetWeb {
  width: 8%;
  border: 1px solid rgba(44, 62, 80, 1);
}

.section-projets-web .row{
  background-color: #fcfcfc;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.section-projets-web a {
  width: 100px;
}

.section-projets-web .img-thumbnail {
  max-width: 88%;
}


/* ----- Section Contact -----  */

.section-contact {
  background-color: #2c3e50;
  height: 100vh;
  position: relative;
}


.section-contact h3 {
  position: absolute;
  color: #fcf9f5;
  z-index: 4;
}

.contactMail {
  position: absolute;
  color: #f5f1ea;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 3;
}

.hrContact {
  position: absolute;
  width: 20px;
  border: 1px solid #fcf9f5;
}

.photoPosition {
  position: absolute;
  top: 50%;
  right: 38%;
  width: 50px;
  height: 50px;
}

.portraitContact {
  position: absolute;
  width: 250px;
  border: 10px solid #2c3e50;
}

.landscape {
  position: absolute;
  width: 260px;
  border: 10px solid #2c3e50;
}

a .linkedinIconContact {
  position: absolute;
  color:  #f5f1ea; 
  opacity: 0;
  z-index: 2;
}

a .gitHubIconContact {
  position: absolute;
  color:  #f5f1ea; 
  opacity: 0;
  z-index: 2;
}

a .linkedinIconContact:hover {
  color:  #eedfc6; 
}

a .gitHubIconContact:hover {
  color:  #eedfc6; 
}








/* ----- MEDIA QUERIES -----  */


// // Extra small devices (portrait phones, less than 576px)
@media screen and (min-width: 100px) and (max-width: 576px) { 

  //INTRO
  .intro h1 {
    font-size: 2.2rem;
  }
  //HEADER
  header h1 {
    font-size: 74px;
    width: 100%;
    font-weight: 400;
    text-transform: uppercase;
  }

  header h2 {
    font-size: 30px;
    width: 100%;
    font-weight: 200;
    z-index: 2;   
  }

  .city, .mail {
    display: none;
  }

  .portrait {
    width: 180px;
    height: 270px;
  }

  .container-portrait {
    margin-top: -100px;
    width: 180px;
    height: 270px;
  }
 
  //SECTION APROPOS
  .a-propos {
    font-size: 19px;
  }

  .section-a-propos {
    margin-top: 30px;
    margin-bottom: 65px;
  }

  .a-propos p {
    width: 99%;
    margin: auto;
  }


  //SECTION FORMATION
  .section-formation h3 {
    font-size: 30px;
  }

  .project-icon svg, .project-icon img { 
    width: 60px;
    height: 60px;
    margin-top: -30px;
  }

  .card-block h4 {
    font-size: 20px;
  }

  .modal-body {
    margin: 6px 10px;
    padding: 5px;
  }

  //SECTION PROJETS WEB
  .section-projets-web .row {
    margin-left: 20px;
    margin-right: 20px;
  }

  .titreProjetsWeb {
    font-size: 30px;
  }

  .villaBouBouImg {
    order: 1;
  }
  
  .villaBouBouTxt {
    order: 2;
  }


  // SECTION CONTACT
  .section-contact {
    background-color: #2c3e50;
    position: relative;
    min-height: 550px;
  }

  
  .section-contact h3 {
    left: 35px;
    bottom: 70%;
  }
  
  .contactMail {
    bottom: 33%;
    left: 147px;
  }
  
  .hrContact {
    bottom: 5%;
    left: 36px;
  }

  .photoPosition {
    position: absolute;
    top: 44%;
    right: 40%;
    width: 50px;
    height: 50px;
  }
  
  .portraitContact {
    top: 40px;
    left: -102px;
    margin-top: 20px;
    width: 180px;
    z-index: 2;
  }
  
  .landscape {
    top: -240px;
    width: 180px;
    left: -10px;
  }
  
  .linkedinIconContact {
    font-size: 35px;
    top: -150%;
    left: 102px;
  }
  
  .gitHubIconContact {
    font-size: 35px;
    top: -260%;
    left: 102px;
  }
  
  

}

// Small devices (landscape phones, less than 769px)
@media screen and (min-width: 577px) and (max-width: 769px) {

  //HEADER

  .portrait {
    width: 328px;
    height: 492px;
  }

  .container-portrait {
    // margin-top: -100px;
    width: 328px;
    height: 492px;
  }

  // SECTION A PROPOS
  .a-propos p {
    width: 90%;
  } 

  // SECTION PROJETS WEB
  .villaBouBouImg {
    order: 1;
  }
  
  .villaBouBouTxt {
    order: 2;
  }


    // SECTION CONTACT
  .section-contact {
    background-color: #2c3e50;
    position: relative;
    min-height: 750px;
  }

  .section-contact h3 {
    left: 130px;
    bottom: 75%;
  }
  
  .contactMail {
    bottom: 33%;
    left: 390px;
  }
  
  .hrContact{
    bottom: 5%;
    left: 131px;
  }

  .photoPosition {
    top: 46%;
    right: 43%;
  }
  
  .portraitContact {
    top: 30px;
    left: -135px;
    margin-top: 20px;
    width: 250px;
    z-index: 2;
  }
  
  .landscape {
    top: -335px;
    width: 250px;
    left: -10px;
  }

  a .linkedinIconContact {
    font-size: 35px;
    top: -150%;
    left: 150px;
  }
  
  a .gitHubIconContact {
    font-size: 35px;
    top: -260%;
    left: 150px;
  }
  
}

// Medium devices (tablets, less than 992px)
@media screen and (min-width: 770px) and (max-width: 992px) {

  //SECTION A PROPOS
  .a-propos p {
    width: 90%;
    margin: auto;
  }

  //SECTION PROJETS WEB
  .villaBouBouImg {
    order: 1;
  }
  
  .villaBouBouTxt {
    order: 2;
  }

  .section-projets-web .img-thumbnail {
    max-width: 55%;
  }

  .section-projets-web p {
    width: 80%;
    margin: auto;
  }
  

  // SECTION CONTACT
  .section-contact {
    background-color: #2c3e50;
    position: relative;
    min-height: 750px;
  }

  .section-contact h3 {
    left: 190px;
    bottom: 75%;
  }
  
  .contactMail {
    bottom: 35%;
    left: 460px;
  }
  
  .hrContact{
    bottom: 5%;
    left: 191px;
  }

  .photoPosition {
    top: 46%;
    right: 43%;
  }
  
  .portraitContact {
    top: 40px;
    left: -135px;
    margin-top: 20px;
    width: 235px;
    z-index: 2;
  }
  
  .landscape {
    top: -330px;
    width: 235px; 
    left: -10px;
  }

  a  .linkedinIconContact {
    font-size: 35px;
    top: -150%;
    left: 140px;
  }
  
  a .gitHubIconContact {
    font-size: 35px;
    top: -260%;
    left: 140px;
  }
  

}

// Large devices (desktops, less than 1200px)
@media screen and (min-width: 993px) and (max-width: 1200px) { 

  //SECTION A PROPOS
  .a-propos p {
    width: 95%;
    margin: auto;
  }

  // SECTION CONTACT
  .section-contact {
    background-color: #2c3e50;
    position: relative;
    min-height: 780px;
  }

  .section-contact h3 {
    font-size: 38px;
    left: 152px;
    bottom: 75%;
  }

  .contactMail {
    bottom: 38%;
    left: 600px;
  }

  .hrContact{
    bottom: 5%;
    left: 153px;
  }

  .photoPosition {
    top: 40%;
    right: 27%;
  }

  .portraitContact {
    top: 40px;
    left: -135px;
    margin-top: 20px;
    width: 230px;
    z-index: 2;
  }

  .landscape {
    top: -280px;
    width: 230px;
    left: -10px;
  } 

  a .linkedinIconContact {
    font-size: 35px;
    top: -150%;
    left: 140px;
  }

  a .gitHubIconContact {
    font-size: 35px;
    top: -260%;
    left: 140px;
  }

}

// Sumo devices (desktops, less than 1200px)
@media screen and (min-width: 1200px) and (max-width: 3000px) { 

  // SECTION A PROPOS

  .a-propos p {
    width: 98%;
  }

   // SECTION CONTACT
 .section-contact {
    background-color: #2c3e50;
    position: relative;
    min-height: 780px;
  }

  .section-contact h3 {
    font-size: 38px;
    left: 320px;
    bottom: 75%;
  }

  .contactMail {
    bottom: 40%;
    left: 850px;
  }

  .hrContact{
    bottom: 10%;
    left: 321px;
  }

  .photoPosition {
    top: 40%;
    right: 33%;
  }

  .portraitContact {
    top: 80px;
    left: -168px;
    margin-top: 20px;
    width: 280px;
    z-index: 2;
  }

  .landscape {
    top: -290px;
    width: 280px;
    left: -10px;
  } 

  a .linkedinIconContact {
    font-size: 35px;
    top: -150%;
    left: 150px;
  }
  
  a .gitHubIconContact {
    font-size: 35px;
    top: -260%;
    left: 150px;
  }
  
}
